services:

  db:
    image: postgres:15
    container_name: confound-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: confound-redis
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    container_name: confound-api

    command: python api/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/apps
      - /apps/.venv
    working_dir: /apps
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PATH=/apps/.venv/bin:$PATH
      - PYTHONPATH=/apps
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
      - redis

volumes:
  postgres_data: